
.modal__checkbox:checked +.modal__checkbox-icon {
    opacity: 1;
}
.modal__checkbox:checked {
    opacity: 1;
}
.modal__agreement {
    color: var(--color-hover);
    text-decoration: underline;
}
.modal__button-submit {
    display: block;
    margin: 0 auto;
    padding: 10px 52px;
    font-family: 'Roboto', sans-serif;
    color: var(--color-hero);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 0.06em;
    line-height: 1.87;
    background-color: var(--color-hover);
    border-width: 0px ;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal__button-submit:hover {
    background: var(--color-active);
}

/*hidden*/
.overlay.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/*PAGE PORTFOLIO */

/*MAIN*/
.menu__button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.menu__item + .menu__item {
    margin-left: 8px;
}
.menu__filter-button {
    padding: 6px 22px;
    color: var(--color-main);
    background: var(--color-background-light);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border-color: var(--color-background-light);
    border-radius: 4px;cursor: pointer;
    border-style: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__filter-button:active {
    color: var(--color-hero);
    background-color: var(--color-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.menu__filter-button:focus {
    color: var(--color-hero);
    background-color: var(--color-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.menu__filter-button:hover {
    color: var(--color-hero);
    background-color: var(--color-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.menu__projects {
    display: flex;
    flex-wrap: wrap;
}
.menu__project-item {
    width: 370px;
    margin-bottom: 30px ;
    margin-right: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.menu__project-item:nth-child(3n) {
    margin-right: 0;
}
.menu__project-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.last-item {
    margin-bottom: 0;
}
.menu__img-box { 
    position: relative;
    overflow: hidden;
}
.menu__project-item:hover .menu__project-description{
    transform: translateY(0);
}
.menu__project-img {
    display: block;
    width: 370px;
}
.menu__project-description {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    padding: 63px 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #fff;
    background: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.menu__border-cards {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
}
.menu__project-name {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.menu__project-type {
    color: var(--color-p);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}