body {
    color: $color-main;
    font-family: $font-roboto;
}li {
    list-style-type: none;
}
a {
    text-decoration-line: none;
}
h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
}
*{
  box-sizing: border-box;
}
ul {
    padding: 0;
}
.conteiner {
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
.section {
    padding: 94px 0;
}